.splashbg {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    line-height: 1;
    z-index: 99;
}

#page-top a {
    font-family: "Zeyada", cursive;
    font-size: 20px;
    font-weight: 600;
    background: #f9d5a0a3;
    text-decoration: none;
    color: #00000073;
    width: 50px;
    padding: 20px 16px;
    text-align: center;
    display: block;
    border-radius: 80px;
    opacity: 0.9;
    transition: all 0.5 ease;
}

#page-top a:hover {
  text-decoration: none;
  opacity: 0.7;
}

body.appear .splashbg {
    display: block;
    content: "";
    position: fixed;
    z-index: 999;
    width: 99%;
    height: 100%;
    transform: scaleY(0);
    background-color: #ccc;
    animation-name: PageAnime;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes PageAnime {
    0% {
        transform-origin: bottom;
        transform: scaleY(0);
    }
    50% {
        transform-origin: bottom;
        transform: scaleY(1);
    }

    50.001% {
        transform-origin: top;
    }

    100% {
        transform-origin: top;
        transform: scaleY(0);
    }
}

#container{
    opacity: 0;
}

body.appear #container {
    animation-name: PageAnimeAppear;
    animation-duration: 2.1s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes PageAnimeAppear {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

